.login-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 167px;
  margin: 0;
}

.login-box {
  width: 407px;
  padding: 50px 26px;
  border: 0.5px solid #C0C0C0;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}